@page "/courses/delete/{id:int}"
@model DeleteCourseModel
<h2 class="text-danger">Are you sure to delete course '@Model.Course.Name'? </h2>

<form method="post">
  <input type="hidden" asp-for="Course.Id"/>
  <button type="Submit" class="btn btn-danger">Delete</button>
  <a class="btn btn-sucess" href="/courses">Cancel</a>
</form>
 